:root {
    /** COLORS */
    --dodger-blue-50: #edfbff;
    --dodger-blue-100: #d7f3ff;
    --dodger-blue-200: #b9ecff;
    --dodger-blue-300: #88e3ff;
    --dodger-blue-400: #50d1ff;
    --dodger-blue-500: #28b5ff;
    --dodger-blue-600: #20a0ff;
    --dodger-blue-700: #0a80eb;
    --dodger-blue-900: #135795;
    --dodger-blue-950: #11355a;

    /** FONTS */
    --font-family: font-family: 'Lato', sans-serif;

    --main-title-weight: 800;
    --main-title-size: 36px;

    --section-title-weight: 700;
    --section-title-size: 32px;

    --subsection-title-weight: 600;
    --subsection-title-size: 28px;

    --misc-weight: 500;
    --misc-size: 24px;

    --standard-weight: 400;
    --standard-size: 18px
}